@page
@model KhumaloCraft2.Pages.AdminEditOrdersModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Cart Items</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <h1>Edit Order Process</h1>
    <hr>

    <form method="post">

        <div class="mb-3">
            <label for="shipmentStatus">Select Shipment Status:</label>
            <select id="shipmentStatus" name="shipmentStatus">
                <!--<option value=""> Select One </option>-->
                <option value="Awaiting Stock" selected='@(Model.ShipmentStatus == "Awaiting Stock")'>Awaiting Stock</option>
                <option value="Cancelled" selected='@(Model.ShipmentStatus == "Cancelled")'>Cancelled</option>
                <option value="Delivered" selected='@(Model.ShipmentStatus == "Delivered")'>Delivered</option>
                <option value="In Progress" selected='@(Model.ShipmentStatus == "In Progress")'>In Progress</option>
                <option value="Out for Delivery" selected='@(Model.ShipmentStatus == "Out for Delivery")'>Out for Delivery</option>
                <option value="Order Placed" selected='@(string.IsNullOrEmpty(Model.ShipmentStatus) || Model.ShipmentStatus == "Order Placed")'>Order Placed</option>
                <option value="Returned" selected='@(Model.ShipmentStatus == "Returned")'>Returned</option>
                <option value="Refunded" selected='@(Model.ShipmentStatus == "Refunded")'>Refunded</option>
            </select>
        </div>

        <div class="btn-container">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-outline-primary" href="/admin-view-orders" role="button">Cancel</a>
        </div>
        <p></p>
    </form>

    @if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <div class="alert alert-success" role="alert">
            <strong>@Model.SuccessMessage</strong>
            <button type='button' class="btn-close" data-bs-dismiss='alert' aria-label="close"></button>
        </div>
        <a class="btn btn-outline-primary" href="/admin-view-orders" role="button">Back</a>
    }

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-warning" role="alert">
            <strong>@Model.ErrorMessage</strong>
            <button type='button' class="btn-close" data-bs-dismiss='alert' aria-label="close"></button>
        </div>
    }

    <section id="footer">
        <hr>
        <div class="icons">
            <p>
                <a href="Tel:+27831234567" class="fa fa-phone"></a>&nbsp;&nbsp;
                <a href="https://www.instagram.com/supremejewelleryco/" class="fa fa-instagram"></a>&nbsp;&nbsp;
                <a href="https://wa.me/27813413986" class="fa fa-whatsapp"></a>&nbsp;&nbsp;
                <a href="mailto:SJ@gmail.com" class="fa fa-envelope"></a>&nbsp;&nbsp;
            </p>
            <p>© 2024 KhumaloCraft | All Rights Reserved | Developed By: Sandeep Hari</p>
        </div>
        <hr>
    </section>

</body>
</html>
