@page
@model KhumaloCraft2.Pages.UserModel
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<h2 class="text-center">Welcome  to your account</h2>

<div>

	Fist Name: @Model.appUser?.FirstName

</div>

<div>

	Last Name: @Model.appUser?.LastName

</div>

<div>

	Email: @Model.appUser?.Email

</div>

<div>

	Phone: @Model.appUser?.PhoneNumber

</div>

<div>

	Address: @Model.appUser?.Address

</div>

<div>

	Created At: @Model.appUser?.CreatedAt.ToString("MM/dd/yyyy")

</div>