@page
@model KhumaloCraft2.Pages.ViewPreviousOrdersModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/admin-site.css" />
</head>
<body>
    <h1>Previous Order Details</h1>
    <h3>For User: <b>@Model.UserName</b></h3>
    <hr size="5px">
    <br />


    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Product ID</th>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Product Quantity</th>
                <th>Product Price</th>
                <th>Product Sub-Total</th>
                <th>Order Total</th>
                <th>Order Status</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            @{
                int currentOrderID = -1;
                bool firstProductInOrder = true;
            }
            @foreach (var orderDetails in Model.CartItems)
            {
                var base64Image = Convert.ToBase64String(orderDetails.Image);
                var imageSrc = $"data:image/jpeg;base64,{base64Image}";

                if (orderDetails.OrderID != currentOrderID)
                {
                    currentOrderID = orderDetails.OrderID;
                    firstProductInOrder = true;
                }

                <tr>
                    @if (firstProductInOrder)
                    {
                        firstProductInOrder = false;
                        <td rowspan="@Model.CartItems.Count(o => o.OrderID == orderDetails.OrderID)" style="background-color: #ec582a;">@orderDetails.OrderID</td>
                    }
                    else
                    {
                        <td style="display:none;"></td>
                    }
                    <td>@orderDetails.ProductID</td>
                    <td>  <img src="@imageSrc" alt="Product Image" width="150px" height="150px" /> </td>
                    <td>@orderDetails.ProductName</td>
                    <td>@orderDetails.ProductQuantity</td>
                    <td>R @orderDetails.ProductPrice</td>
                    <td>R @orderDetails.ProductSubTotal</td>
                    <td>R @orderDetails.orderTotal</td>
                    <td>@orderDetails.OrderStatus</td>
                    <td>@orderDetails.OrderDate.ToString("dd MMMM yyyy HH:mm:ss")</td>
                    
                </tr>
            }
        </tbody>
    </table>


    <p></p>
    <a href="/Products" class="normal-btn">Place New Order</a>
    <p></p>

    <section id="footer">
        <hr>
        <div class="icons">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <p>
                <a href="#" class="fa fa-phone"></a>&nbsp;&nbsp;
                <a href="#" class="fa fa-instagram"></a>&nbsp;&nbsp;
                <a href="#" class="fa fa-whatsapp"></a>&nbsp;&nbsp;
                <a href="#" class="fa fa-envelope"></a>&nbsp;&nbsp;
            </p>
            <p>© 2024 KhumaloCraft | All Rights Reserved | Developed By: Sandeep Hari</p>
        </div>
        <hr>
    </section>
</body>
</html>
